@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dhahran<br />
    <br />
    <abbr title="Phone">P:</abbr>
    +44 ...
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:uwe.braun@germanyconsulting.de">uwe.braun@germanyconsulting.de</a><br />
 </address>