@{
    ViewBag.Title = "Home Page";
}
<p> </p>
    <style>
        .jumbotron {
            background-color: #669999; /* Orange */
            color: #ffffff;
        }
    </style>


<div class="jumbotron">
    <h1>cppPLUS</h1>
    <p class="lead">chemicals portfolio planning PLUS.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <style>
            div.a {
                position: relative;
                left: -25px;
                width: 350px;
                   }
        </style>
        <div class="a">
            <ul>

                <li>cppPLUS the online platform to model Refining and Chemicals Mass Balances from Feedstock to Finished Products.</li>
                <li>Portfolio Planning, with individual Production Schedules, detailed Yields, Process-Technologies, Environmental Impacts.</li>
                <li>Collaborate with us to optimize the portfolio information of existing operations or build your own portfolio in a secure environment.</li>

            </ul>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Financial Planning</h2>
          <div class="a">
            <ul>
                <li>Multi-Level Financial Planning, from local operations to a global consolidated corporate level.</li>
                <li>Combine current industry capacities with future outlooks based on public data.</li>
                <li>Build your own Financial Outlook or Project Model with expert input in a secure area.</li>

            </ul>
</div>
        </div>
        <div class="col-md-4">
            <h2>Industry Advisory</h2>
           <div class="a">
            <ul>
                <li>Short- and Long Term Outlook of your client, based on your assumptions or industry insights.</li>
            </ul>
            </div>
        </div>
    </div>